<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8"/>
    <title>GameStick activation: Code</title>
    <style>
      .error {
        color: red;
      }
    </style>
  </head>
  <body>
    <h1>PlayJam GameStick activation</h1>
    <form method="post" action="activate.php">
      <div>
        <label for="code">Verification code:</label>
        <input name="code" type="text" value="<?= htmlspecialchars($code) ?>"/>
      </div>
      <?php if ($error): ?>
      <div>
        <p class="error"><?= htmlspecialchars($error) ?></p>
      </div>
      <?php endif ?>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
