<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8"/>
    <title>GameStick activation: Profile</title>
    <style>
      .error {
        color: red;
      }
    </style>
  </head>
  <body>
    <h1>PlayJam GameStick activation: Profile</h1>
    <form method="post" action="activate.php">
      <input type="hidden" name="code" value="<?= htmlspecialchars($code) ?>"/>

      <?php if ($input['submit'] && count($errors)): ?>
      <div style="color: red">
        Errors:
        <ul>
          <?php foreach ($errors as $msg): ?>
          <li><?= htmlspecialchars($msg) ?></li>
          <?php endforeach ?>
        </ul>
      </div>
      <?php endif ?>

      <div>
        <label for="gamerTag">Gamer tag:</label>
        <input id="gamerTag" name="gamerTag" type="text"
          value="<?= htmlspecialchars($input['gamerTag']) ?>"
          pattern="[a-zA-Z0-9 ]+"
          required=""
          title="Allowed: A-Z, a-z, 0-9, space"
        />
      </div>

      <div>
        <label>
          <input id="founderFlag" name="founderFlag" type="checkbox"
            value="1"
            <?php if ($input['founderFlag']) { echo 'checked=""';} ?>
          />
          I am a founder
        </label>
      </div>

      <div>
        <label for="founderName">Founder name:</label>
        <input id="founderName" name="founderName" type="text"
          value="<?= htmlspecialchars($input['founderName']) ?>"
          pattern="[a-zA-Z0-9 ]*"
          title="Allowed: A-Z, a-z, 0-9, space"
          />
      </div>

      <div>
        <label>Show games suitable for ages:</label>
        <label>
          <input type="radio" name="minAge" value="3"
            <?php if ($input['minAge'] == 3) { echo 'checked=""';} ?>
          />
          3+
        </label><br/>

        <label>
          <input type="radio" name="minAge" value="7"
            <?php if ($input['minAge'] == 7) { echo 'checked=""';} ?>
          />
          7+
        </label><br/>

        <label>
          <input type="radio" name="minAge" value="12"
            <?php if ($input['minAge'] == 12) { echo 'checked=""';} ?>
          />
          12+
        </label><br/>

        <label>
          <input type="radio" name="minAge" value="17"
            <?php if ($input['minAge'] == 17) { echo 'checked=""';} ?>
          />
          17+
        </label><br/>
      </div>

      <div>
        <label>Avatar image:</label>
        <?php foreach ($avatars as $key => $smallImagePath): ?>
        <label>
          <input type="radio" name="avatar" value="<?= htmlspecialchars($key) ?>"
            <?php if ($input['avatar'] == $key) { echo 'checked=""';} ?>
          />
          <img src="<?= htmlspecialchars($smallImagePath) ?>"
            alt="Avatar <?= htmlspecialchars($key) ?>"
            width="118" height="118"
          />
        </label><br/>
        <?php endforeach ?>

      </div>

      <button name="submit" value="1" type="submit">Submit</button>
    </form>
  </body>
</html>
