<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8"/>
    <title>GameStick activation: Success</title>
  </head>
  <body>
    <h1>PlayJam GameStick activation complete</h1>
    <p>
      Your profile has been updated.
      You can continue with your GameStick setup.
    </p>
  </body>
</html>
